<div class="p-grid p-justify-center p-align-center">
  <div class="p-col-4">
    <form [formGroup]="loginForm">
      <div class="p-grid">
        <div class="p-col">
          <label>Username</label>
          <input formControlName="username" type="text">
        </div>
        <div class="p-col">
          <label>Password</label>
          <input formControlName="password" type="password">
        </div>
        <div class="p-col">
          <button pButton type="button" class="ui-button-raised ui-button-success">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>

<p-toast></p-toast>
