<p-card header="{{cardHeaderText}}">
  <div class="card-body">
    <form [formGroup]="pageForm" class="form-horizontal">
      <div class="p-grid">
        <!-- Parent -->
        <div class="p-col-12">
          <label for="title">Parent</label>
        </div>
        <div class="p-col-12">
          <p-dropdown [options]="pages" optionLabel="title" dataKey="id" formControlName="parent" showClear="true"
            emptyFilterMessage="Nothing found." [filter]="true" placeholder="- Select -" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <!-- Title -->
        <div class="p-col-12">
          <label for="title">Title</label>
        </div>
        <div class="p-col-12">
          <input pInputText type="text" formControlName="title" [ngClass]="{'error': isInvalid('title')}" class="required" />
        </div>
        <!-- Slug -->
        <div class="p-col-12">
          <label for="slug">Slug</label>
        </div>
        <div class="p-col-12">
          <input pInputText type="text" formControlName="slug" [ngClass]="{'error': isInvalid('slug')}" class="required" />
        </div>
        <!-- OrderIndex -->
        <div class="p-col-3" *ngIf="editMode">
          <label for="orderIndex">Order Index</label>
        </div>
        <div class="p-col-3" *ngIf="editMode">
          <p-spinner formControlName="orderIndex" [min]="0" [max]="100"></p-spinner>
        </div>
        <!-- Published -->
        <div class="p-col-3" *ngIf="editMode">
          <label for="published">Published</label>
        </div>
        <div class="p-col-3" *ngIf="editMode">
          <p-toggleButton formControlName="published"></p-toggleButton>
        </div>
        <!-- Content -->
        <div class="p-col-12">
          <label for="slug">Content</label>
        </div>
        <div class="p-col-12">
          <p-editor formControlName="content" [style]="{'height':'500px'}"></p-editor>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <button pButton (click)="editMode ? editPage() : createPage()" label="{{commandButtonText}}" [ngClass]="commandButtonClass + ' ui-button-raised'"
      [disabled]="!pageForm.valid" icon="{{commandButtonIcon}}">
    </button>
    &nbsp;
    <button pButton (click)="goBack()" label="Return to list" class="ui-button-primary ui-button-raised" icon="pi pi-chevron-left">
    </button>
  </p-footer>
</p-card>
