<p-card header="{{cardHeaderText}}">
  <div class="card-body">
    <form [formGroup]="projectForm" class="form-horizontal">
      <div class="p-grid">
        <div class="p-col-6">
          <div class="p-grid">
            <!-- Title -->
            <div class="p-col-4">
              <label for="title">Title</label>
            </div>
            <div class="p-col-8">
              <input pInputText type="text" formControlName="title" [ngClass]="{'error': isInvalid('title')}" class="required" />
            </div>
            <!-- Slug -->
            <div class="p-col-4">
              <label for="slug">Slug</label>
            </div>
            <div class="p-col-8">
              <input pInputText type="text" formControlName="slug" [ngClass]="{'error': isInvalid('slug')}" class="required" />
            </div>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-grid">
            <!-- Description -->
            <div class="p-col-4">
              <label for="slug">Description</label>
            </div>
            <div class="p-col-8">
              <textarea pInputTextarea formControlName="description" rows="5" autoResize="autoResize"></textarea>
            </div>
          </div>
        </div>
        <!-- Image -->
        <div class="p-col-2">
          <label for="image">Image</label>
        </div>
        <div class="p-col-10">
          <p-fileUpload files="images[]" accept="image/*" auto="true" customUpload="true"
            (uploadHandler)="getBase64Image($event)"
            (onClear)="clearImageUrl()"
            (onRemove)="clearImageUrl($event)"
            maxFileSize="500000"
            showUploadButton="false"
            previewWidth="100"></p-fileUpload>
        </div>
        <!-- OrderIndex -->
        <div class="p-col-3" *ngIf="editMode">
          <label for="orderIndex">Order Index</label>
        </div>
        <div class="p-col-3" *ngIf="editMode">
          <p-spinner formControlName="orderIndex" [min]="0" [max]="100"></p-spinner>
        </div>
        <!-- Published -->
        <div class="p-col-3" *ngIf="editMode">
          <label for="published">Published</label>
        </div>
        <div class="p-col-3" *ngIf="editMode">
          <p-toggleButton formControlName="published"></p-toggleButton>
        </div>        
      </div>
    </form>
  </div>
  <p-footer>
    <button pButton (click)="editMode ? editProject() : createProject()" [ngClass]="commandButtonClass + ' ui-button-raised'" [disabled]="!projectForm.valid"
      icon="{{commandButtonIcon}}">
      {{commandButtonText}}
    </button>
    &nbsp;
    <button pButton (click)="goBack()" class="ui-button-primary ui-button-raised" icon="pi pi-chevron-left">
      Return to list
    </button>
  </p-footer>
</p-card>