<div class="p-grid">
  <div class="p-col-12">
    <div class="admin-top-menu">

    </div>
  </div>
  <div class="p-col-3">
    <div class="admin-side-bar">
      <ul>
        <li>
          <a routerLink="pages">Pages</a>
        </li>
        <li>
          <a routerLink="projects">Projects</a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a routerLink="users">Users</a>
        </li>
        <li>
          <hr />
        </li>
        <li>
          <a routerLink="account">Account</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="p-col-9">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="p-col-12">
    <div class="footer">

    </div>
  </div>
</div>
